In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from adjustText import adjust_text
import random

In [2]:
pip install adjustText

Requirement already satisfied: adjustText in c:\users\qinqin.zha\anaconda3\lib\site-packages (0.8)
Requirement already satisfied: matplotlib in c:\users\qinqin.zha\anaconda3\lib\site-packages (from adjustText) (3.2.2)
Requirement already satisfied: numpy in c:\users\qinqin.zha\anaconda3\lib\site-packages (from adjustText) (1.18.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\qinqin.zha\anaconda3\lib\site-packages (from matplotlib->adjustText) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\qinqin.zha\anaconda3\lib\site-packages (from matplotlib->adjustText) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\qinqin.zha\anaconda3\lib\site-packages (from matplotlib->adjustText) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\qinqin.zha\anaconda3\lib\site-packages (from matplotlib->adjustText) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\qinqin.zha\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib->adjustText) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv("Deseq_results_SYMBOL.csv").dropna()
df['nlog10'] =-np.log10(df.padj)
df.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,SYMBOL,nlog10
0,COL1A1,551.327192,2.154487,0.397612,5.418563,6.007985e-08,0.000024,COL1A1,4.625617
1,COL3A1,616.424455,1.361293,0.433791,3.138131,1.700291e-03,0.023172,COL3A1,1.635039
2,FN1,275.039883,1.328103,0.358177,3.707947,2.089461e-04,0.006139,FN1,2.211870
3,S100A9,160.589484,1.222967,0.269074,4.545095,5.491056e-06,0.000583,S100A9,3.234094
4,NR4A1,245.930271,1.148632,0.330726,3.473063,5.145540e-04,0.010450,NR4A1,1.980884

In [10]:
picked1 = random.choices(df.SYMBOL.tolist(), weights = df.nlog10.tolist(), k =250)
picked2 = random.choices(df.SYMBOL.tolist(), weights = df.nlog10.tolist(), k =300)
picked2 = [x for x in picked2 if x not in picked1]

def map_color(a):
    log2FoldChange, SYMBOL, nlog10 = a
    if abs(log2FoldChange) <0.5 or nlog10 <2: 
        return 'nobody_cares'
    if SYMBOL in picked1:
        return 'picked1'
    if SYMBOL in picked2:
        return 'picked2'
    return 'i_care'
df['color'] = df[['log2FoldChange', 'SYMBOL', 'nlog10']].apply(map_color, axis = 1)
df.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,SYMBOL,nlog10,color
0,COL1A1,551.327192,2.154487,0.397612,5.418563,6.007985e-08,0.000024,COL1A1,4.625617,picked1
1,COL3A1,616.424455,1.361293,0.433791,3.138131,1.700291e-03,0.023172,COL3A1,1.635039,nobody_cares
2,FN1,275.039883,1.328103,0.358177,3.707947,2.089461e-04,0.006139,FN1,2.211870,picked1
3,S100A9,160.589484,1.222967,0.269074,4.545095,5.491056e-06,0.000583,S100A9,3.234094,picked1
4,NR4A1,245.930271,1.148632,0.330726,3.473063,5.145540e-04,0.010450,NR4A1,1.980884,nobody_cares

In [21]:
picked3 = random.choices(df.SYMBOL.tolist(), weights = df.nlog10.tolist(), k =250)
picked4 = random.choices(df.SYMBOL.tolist(), weights = df.nlog10.tolist(), k =300)
picked4 = [x for x in picked4 if x not in picked3]

def map_shape(SYMBOL):
    
    if SYMBOL in picked3:
        return 'picked3'
    if SYMBOL in picked4:
        return 'picked4'
    
    return 'not_important'
df['shape'] = df.SYMBOL.map(map_shape)
df.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,SYMBOL,nlog10,color,shape
0,COL1A1,551.327192,2.154487,0.397612,5.418563,6.007985e-08,0.000024,COL1A1,4.625617,picked1,picked3
1,COL3A1,616.424455,1.361293,0.433791,3.138131,1.700291e-03,0.023172,COL3A1,1.635039,nobody_cares,picked4
2,FN1,275.039883,1.328103,0.358177,3.707947,2.089461e-04,0.006139,FN1,2.211870,picked1,picked3
3,S100A9,160.589484,1.222967,0.269074,4.545095,5.491056e-06,0.000583,S100A9,3.234094,picked1,picked3
4,NR4A1,245.930271,1.148632,0.330726,3.473063,5.145540e-04,0.010450,NR4A1,1.980884,nobody_cares,picked3

## plt.figure(figsize =(6,6))
ax = sns.scatterplot(data =df, x = 'log2FoldChange', y ='nlog10', hue = 'color',
                   hue_order =['nobody_cares', 'picked1', 'picked2', 'i_care'],
                    palette = ['lightgrey', 'orange', 'purple', 'grey'],
                    style = 'shape', style_order = ['picked3', 'picked4', 'not_important'],
                    markers = ['^', 's', 'o'],
                    size = 'baseMean', sizes = (40, 500))
ax.axhline(2, zorder =0, c ='k', lw =2, ls = '--')
ax.axvline(1, zorder =0, c ='k', lw =2, ls = '--')
ax.axvline(-1, zorder =0, c ='k', lw =2, ls = '--')

plt.legend(loc = 1, bbox_to_anchor = (1,4,1), frameon = False, prop = {'weight': 'bold'})

In [22]:
plt.show()