In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_count = pd.read_csv("./DSP_Re_CRC_Hcount.csv")

In [4]:
df_count.head()

,Unnamed: 0,CRC1_T,CRC1_T.1,CRC1_T.2,CRC1_T.3,CRC1_SP,CRC1_SP.1,CRC1_SP.2,CRC1_SP.3,CRC1_SD,...,CRC4_T.1,CRC4_T.2,CRC4_T.3,CRC4_SP,CRC4_SP.1,CRC4_SP.2,CRC4_SP.3,CRC4_SD,CRC4_SD.1,CRC4_SD.2
0,HLA-F,261.044118,295.280541,275.574549,333.001639,247.256674,243.553362,259.972332,215.821855,168.400195,...,371.622908,381.658103,489.297863,341.547992,275.929626,403.122174,326.503180,250.341012,294.032278,357.044027
1,HLA-A,883.275785,1088.408114,942.677138,1225.780209,887.123493,879.148153,861.968325,718.621310,401.471693,...,2200.822407,1176.248997,2616.907721,1645.269243,1138.984539,1946.037819,1307.259195,747.819315,915.591607,1158.475978
2,APOA2,106.360233,94.018941,96.222182,88.043047,103.884886,107.951246,96.797886,106.716464,114.374898,...,105.553336,106.772184,109.213867,94.911221,104.928863,94.742716,104.429024,120.474914,106.127073,109.514620
3,CD38,88.669236,69.241307,70.229771,70.949555,93.588898,97.454701,91.753773,94.164877,105.989139,...,80.060915,87.342460,84.329358,102.188052,107.685862,84.321112,92.741847,107.309986,129.056028,100.468568
4,IL1RL1,103.906689,83.295202,77.000816,87.660556,115.018874,104.510321,90.414705,113.530277,128.510415,...,98.138925,105.079946,114.312979,105.374423,107.346549,119.765282,102.253492,142.371355,110.070251,112.215730

In [5]:
df_meta =pd.read_csv("MetaData_re_CRC_health_ST.csv")

In [6]:
df_meta.head()

  sampleName     Segment_tags LOT_Cancer_Transcriptome_Atlas Indication
0     CRC1_T            Tumor                      HCTA22004        CRC
1     CRC1_T            Tumor                      HCTA22004        CRC
2     CRC1_T            Tumor                      HCTA22004        CRC
3     CRC1_T            Tumor                      HCTA22004        CRC
4    CRC1_SP  Stroma_proximal                      HCTA22004        CRC

In [7]:
df_count.columns

Index(['Unnamed: 0', 'CRC1_T', 'CRC1_T.1', 'CRC1_T.2', 'CRC1_T.3', 'CRC1_SP',
       'CRC1_SP.1', 'CRC1_SP.2', 'CRC1_SP.3', 'CRC1_SD', 'CRC1_SD.1',
       'CRC1_SD.2', 'CRC1_SD.3', 'CRC2_T', 'CRC2_T.1', 'CRC2_T.2', 'CRC2_T.3',
       'CRC2_SP', 'CRC3_T', 'CRC3_T.1', 'CRC3_T.2', 'CRC3_SP', 'CRC3_SP.1',
       'CRC3_SP.2', 'CRC3_SP.3', 'CRC3_SD', 'CRC3_SD.1', 'CRC3_SD.2',
       'CRC3_SD.3', 'H1_T', 'H1_T.1', 'H1_T.2', 'H1_T.3', 'H1_SP', 'H1_SP.1',
       'H1_SP.2', 'H1_SP.3', 'H1_SD', 'H1_SD.1', 'H1_SD.2', 'H1_SD.3', 'H2_T',
       'H2_T.1', 'H2_T.2', 'H2_T.3', 'H2_SP', 'H2_SP.1', 'H2_SP.2', 'H2_SP.3',
       'H2_SD', 'H3_T', 'H3_T.1', 'H3_T.2', 'H3_T.3', 'H3_SP', 'H3_SP.1',
       'H3_SP.2', 'H3_SP.3', 'H3_SD', 'H3_SD.1', 'H3_SD.2', 'H4_T', 'H4_T.1',
       'H4_T.2', 'H4_T.3', 'H4_SP', 'H4_SP.1', 'H4_SP.2', 'H4_SP.3', 'H4_SD',
       'H5_T', 'H5_T.1', 'H5_T.2', 'H5_T.3', 'H5_SP', 'H5_SP.1', 'H5_SP.2',
       'H5_SP.3', 'H5_SD', 'H5_SD.1', 'H5_SD.2', 'H5_SD.3', 'CRC4_T',
       'CRC4_T.1', 'CRC4_T.2', 'CRC4_T.3', 'CRC4_SP', 'CRC4_SP.1', 'CRC4_SP.2',
       'CRC4_SP.3', 'CRC4_SD', 'CRC4_SD.1', 'CRC4_SD.2'],
      dtype='object')

In [8]:
df_count["CRC1T"]=(df_count['CRC1_T']+df_count['CRC1_T.1'] +df_count['CRC1_T.2']+ df_count['CRC1_T.3'] )/4

In [9]:
df_count["CRC1SP"]=(df_count['CRC1_SP']+df_count['CRC1_SP.1'] +df_count['CRC1_SP.2']+ df_count['CRC1_SP.3'] )/4

In [10]:
df_count["CRC1SD"]= (df_count['CRC1_SD']+df_count['CRC1_SD.1'] +df_count['CRC1_SD.2']+ df_count['CRC1_SD.3'] )/4

In [11]:
df_count["CRC2T"]=(df_count['CRC2_T']+df_count['CRC2_T.1'] +df_count['CRC2_T.2']+ df_count['CRC2_T.3'] )/4

In [12]:
df_count["CRC2SP"]=(df_count['CRC2_SP'])/1

In [13]:
df_count["CRC3T"]=(df_count['CRC3_T']+df_count['CRC3_T.1'] +df_count['CRC3_T.2'] )/3

In [14]:
df_count["CRC3SP"]=(df_count['CRC3_SP']+df_count['CRC3_SP.1'] +df_count['CRC3_SP.2'] +df_count['CRC3_SP.3'])/4

In [15]:
df_count["CRC3SD"]=(df_count['CRC3_SD']+df_count['CRC3_SD.1'] +df_count['CRC3_SD.2'] +df_count['CRC3_SD.3'])/4

In [16]:
df_count["H1T"]=(df_count["H1_T"]  + df_count["H1_T.1"] +df_count["H1_T.2"]  +df_count["H1_T.3"])/4

In [17]:
df_count["H1SP"]=(df_count["H1_SP"]  + df_count["H1_SP.1"] +df_count["H1_SP.2"]  +df_count["H1_SP.3"])/4

In [18]:
df_count["H1SD"]=(df_count["H1_SD"]  + df_count["H1_SD.1"] +df_count["H1_SD.2"]  +df_count["H1_SD.3"])/4

In [19]:
df_count["H2T"]=(df_count["H2_T"]  + df_count["H2_T.1"] +df_count["H2_T.2"]  +df_count["H2_T.3"])/4
df_count["H2SP"]=(df_count["H2_SP"]  + df_count["H2_SP.1"] +df_count["H2_SP.2"]  +df_count["H2_SP.3"])/4
df_count["H2SD"]=(df_count["H2_SD"] )/1

In [20]:
df_count["H3T"]=(df_count["H3_T"]  + df_count["H3_T.1"] +df_count["H3_T.2"]  +df_count["H3_T.3"])/4
df_count["H3SP"]=(df_count["H3_SP"]  + df_count["H3_SP.1"] +df_count["H3_SP.2"]  +df_count["H3_SP.3"])/4
df_count["H3SD"]=(df_count["H3_SD"] + df_count["H3_SD.1"] +df_count["H3_SD.2"] )/3

In [21]:
df_count["H4T"]=(df_count["H4_T"]  + df_count["H4_T.1"] +df_count["H4_T.2"]  +df_count["H4_T.3"])/4
df_count["H4SP"]=(df_count["H4_SP"]  + df_count["H4_SP.1"] +df_count["H4_SP.2"]  +df_count["H4_SP.3"])/4
df_count["H4SD"]=(df_count["H4_SD"] )/1

In [22]:
df_count["H5T"]=(df_count["H5_T"]  + df_count["H5_T.1"] +df_count["H5_T.2"]  +df_count["H5_T.3"])/4
df_count["H5SP"]=(df_count["H5_SP"]  + df_count["H5_SP.1"] +df_count["H5_SP.2"]  +df_count["H5_SP.3"])/4
df_count["H5SD"]=(df_count["H5_SD"] + df_count["H5_SD.1"] +df_count["H5_SD.2"] +df_count["H5_SD.3"]  )/4

In [23]:
df_count["CRC4T"]=(df_count['CRC4_T']+df_count['CRC4_T.1'] +df_count['CRC4_T.2']+df_count["CRC4_T.3"] )/4
df_count["CRC4SP"]=(df_count['CRC4_SP']+df_count['CRC4_SP.1'] +df_count['CRC4_SP.2'] +df_count['CRC4_SP.3'])/4
df_count["CRC4SD"]=(df_count['CRC4_SD']+df_count['CRC4_SD.1'] +df_count['CRC4_SD.2'] )/3

In [25]:
df_count.columns

Index(['Unnamed: 0', 'CRC1_T', 'CRC1_T.1', 'CRC1_T.2', 'CRC1_T.3', 'CRC1_SP',
       'CRC1_SP.1', 'CRC1_SP.2', 'CRC1_SP.3', 'CRC1_SD',
       ...
       'H3SD', 'H4T', 'H4SP', 'H4SD', 'H5T', 'H5SP', 'H5SD', 'CRC4T', 'CRC4SP',
       'CRC4SD'],
      dtype='object', length=119)

In [26]:
df_count.to_csv("AvergaedCounts.csv", index =True)